.About {
	padding-top: 20px;
	color: var(--dark);
}

.About__content {
	white-space: pre-line;
	margin-left: 40px;
}

@media only screen and (max-width: 576px) {
    .About__content {
        margin-left: 0;
    }
}
