.Jumbo {
	background: var(--dark);
	padding-top: 120px;
	padding-bottom: 30px;
}

.Jumbo__container {
	text-align: center;
}

.Jumbo__profileImg {
	height: 180px;
	border-radius: 120px;
	box-shadow: 0 0 20px 5px;
}

.Jumbo__name {
	margin-top: 15px;
	margin-bottom: 30px;
	color: var(--light);
	font-size:30px;
}

.Jumbo__socialLink,
.Jumbo__socialLink:hover,
.Jumbo__socialLink:visited {
	display: inline-block;
	color: var(--light);
	font-size: 14px;
	font-weight: 100;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}
