.Skill {
	padding-top: 20px;
	color: var(--dark);
}

.Skill__content {
	margin-left: 40px;
}

.CardLabel {
	margin-bottom: 20px;
}

.CardLabel__content {
	position: absolute;
    left: -10px;
    top: 10px;
    display: inline-block;
    background: var(--success);
    width: 50px;
	text-align: center;
	color: var(--light)
}

.CardLabel__content.success {
	background: var(--success);
}

.CardLabel__content.yellow {
	background: var(--yellow);
}

.CardLabel__content::after {
	content: '';
	display: inline-block;
    position: absolute;
    right: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 15px;
    border-color: transparent transparent transparent var(--success);
}

.CardLabel__content.success::after {
    border-color: transparent transparent transparent var(--success);
}

.CardLabel__content.yellow::after {
    border-color: transparent transparent transparent var(--yellow);
}

.Skill__block {
	margin-bottom: 10px;
}

.Skill__item {
	text-align: center
}

.Skill__text {
	cursor: pointer;
	display: block;
	margin-bottom: 5px;
}

.Skill__text:hover {
	background: #f3f3f3;
}

@media only screen and (max-width: 576px) {
    .Skill__content {
        margin-left: 0;
    }
}
