.Work {
	padding-top: 20px;
	color: var(--dark);
}

.Work__content {
	margin-left: 40px;
}

.WorkItem {
	margin-bottom: 10px;
}

.WorkItem__card {
	border-radius: 0 !important;
	border: 0 !important;
	border-left: 5px solid #d3d3d3 !important;
	background: #fbfbfb !important;
    padding-left: 50px;
	transition: .4s all;
}

.WorkItem__card:hover {
	box-shadow: 0 0 5px 0;
	background: #fff !important;
}

.WorkItem__at {
	font-size: 18px;
	margin-bottom: 10px !important;
	font-weight: 400;
}

.WorkItem__time {
	font-size: 16px;
	margin-bottom: 10px !important;
	font-weight: 300;
}

@media only screen and (max-width: 576px) {
    .Work__content {
        margin-left: 0;
    }
}
